.form-add-title {
    text-align: center;
    margin: 40px;

    .form-add-text{
        font-family: Fondamento;
    }
}

.form-add {
    margin: 5% 300px;
    border: solid #bdc3c7 1px;
    padding: 20px 30px;
    border-radius: 10px;
}